<form #searchForm="ngForm" id="searchForm" (ngSubmit)="getAccount(searchForm.value.username, searchForm.value.tag)">
    <input type="search" class="form me-sm-2" name="username" placeholder="Summoner Name..." ngModel #usernameInput="ngModel">
    <input type="search" class="form me-sm-2" name="tag" placeholder="Tag..." ngModel #tagInput="ngModel">
    <button class="btn btn-primary" type="submit" form="searchForm">Search</button>
</form>

<div *ngIf="account">
    <h1 style="color: blue;">Summoner Name: {{ account.gameName }}</h1>
  
    <!-- Exibe mensagem de carregamento -->
    <h2 *ngIf="isLoading">Carregando dados...</h2>
  
    <!-- Exibe os dados quando carregados -->
    <div *ngIf="!isLoading">
      <div *ngFor="let champion of championsWithMastery">
        <h1 style="color: chartreuse;">{{ champion.name }}</h1> <h1> - Mastery Level : {{champion.championLevel}} - Mastery Points: {{ champion.championPoints }}</h1>
      </div>
      <div *ngFor="let match of matches">
        <div *ngFor="for let player of match.info.participants">
          <div *ngIf="player.puuid == account.puuid">
            <div *ngIf="player.nexusLost == 1">
              <h3 style="background-color: red;">
                {{match.info.gameMode}} | {{player.championName}} : {{player.kills}} / {{player.deaths}} / {{player.assists}}
              </h3>
            </div>
            <div *ngIf="player.nexusLost == 0">
              <h3 style="background-color: green;">
                {{match.info.gameMode}} | {{player.championName}} : {{player.kills}} / {{player.deaths}} / {{player.assists}}
              </h3>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

   

  